body {background-image: url(../../képek/main\ background.jpg);
     background-position: center; background-repeat: no-repeat; background-size: cover; color: white; padding-top: 130px; text-align: justify;}
h1 {text-align: center;}
h2 {text-align: left;}
nav {background-image: linear-gradient(rgb(238, 10, 10), white, rgb(9, 204, 9)); font-size: large;}
footer {background-image: linear-gradient(rgb(238, 10, 10), white, rgb(9, 204, 9)); font-size: large;}
#flag {margin-left: 10px;}
#container {padding: 20px;}
#trianon {float: right; width: 15cm; margin-left: 5mm;}
#gyors {float: left; width: 15cm; margin-right: 5mm;}
#h {float: right; width: 10cm; margin-left: 5mm; }
img {cursor: pointer; margin-left: 5px; margin-right: 5px; margin-top: 10px; margin-bottom: 15px;}
#jelenlegi {color: darkblue;}
#link:hover {color: darkblue;}




